/* variables */
/* main styles */
@import 'fonts.css';
@import 'keyframes.css';
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font: 300 15px/21px 'MuseoSansCyrl', 'sans-serif';
  color: #000;
  min-width: 1024px;
}
.container-fluid {
  max-width: 1400px;
}
.table {
  display: table;
  margin-bottom: initial;
  margin-left: 6px;
}
.table-cell {
  display: table-cell;
  float: none;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.static {
  position: static!important;
}
.pD0 {
  padding: 0;
}
.pB40 {
  padding-bottom: 40px !important;
}
.pL10 {
  padding-left: 10px !important;
}
.mB30 {
  margin-bottom: 30px;
}
.mB50 {
  margin-bottom: 50px;
}
.mB70 {
  margin-bottom: 70px;
}
.mT0 {
  margin-top: 0 !important;
}
.mL30 {
  margin-left: 30px;
}
.mT30 {
  margin-top: 30px;
}
h1 {
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
}
h2 {
  font-weight: 900;
  font-size: 35px;
}
h3 {
  font-size: 20px;
  font-weight: 900;
}
ul {
  list-style-type: none;
  padding: 0;
}
blockquote {
  border-top: 1px solid rgba(73, 76, 83, 0.2);
  border-bottom: 1px solid rgba(73, 76, 83, 0.2);
  border-left: none;
  color: #3683c5;
  padding: 27px 0;
  margin: 19px 0;
}
#fps {
  bottom: 20px;
  width: 76px;
  height: 18px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  right: 23px;
  color: #fff;
  display: inline-block;
  z-index: 99999;
}
.border-l {
  position: relative;
}
.border-l:before {
  content: '';
  display: block;
  width: 1px;
  height: 131%;
  position: absolute;
  top: -64px;
  left: -19px;
  background-color: #cccccc;
  z-index: -1;
}
.border-r {
  position: relative;
}
.border-r:after {
  content: '';
  display: block;
  width: 1px;
  height: 131%;
  position: absolute;
  top: -64px;
  right: 153px;
  background-color: #cccccc;
  z-index: -1;
}
.modal {
  top: calc(50% - 295px);
  /* LABEL ======================================= */
  /* active state */
}
.modal h2 {
  font-weight: 300;
  font-size: 35px;
}
.modal input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #afbdc4;
}
.modal input:focus {
  outline: none;
}
.modal label {
  color: #808080;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.modal input:focus ~ label,
.modal input[aria-invalid] ~ label {
  top: -10px;
  font-size: 12px;
  color: #3683c5;
}
.modal .modal-dialog {
  width: 527px;
}
.modal .close {
  height: 32px;
  width: 32px;
  position: absolute;
  right: 16px;
  top: 22px;
  z-index: 1;
  opacity: 1;
}
.modal .close:focus {
  outline: none;
}
.modal .close img {
  width: 72%;
}
.modal .modal-content {
  padding: 50px 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}
.modal .modal-content .modal-header {
  border-bottom: none;
}
.modal .modal-content .modal-header h3 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}
.modal .modal-content .modal-body {
  padding: 0 54px 19px 54px;
}
.modal .modal-content .modal-body h2 {
  margin-bottom: 18px;
}
.modal .modal-content .modal-body button {
  margin-top: 21px;
  margin-bottom: 31px;
}
.modal .modal-content .modal-body .form-group {
  display: inline-block;
  width: 100%;
}
.modal .modal-content .modal-body .help-block {
  position: absolute;
  right: 0px;
  top: 8px;
}
.modal .modal-content .successFullSended,
.modal .modal-content .formInfoPlace,
.modal .modal-content .formErrorPlace {
  display: none;
}
.modal-backdrop {
  background: #ced7db;
}
.modal-backdrop.in {
  opacity: .7;
}
.group {
  position: relative;
  margin-bottom: 21px;
}
/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #3683c5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
table {
  width: 100%;
}
table thead tr {
  border-bottom: 2px solid #3683c5;
}
table thead tr td {
  color: rgba(73, 76, 83, 0.5);
  padding: 10px 17px;
}
table tbody tr {
  border-bottom: 1px solid rgba(73, 76, 83, 0.2);
}
table tbody tr:last-child {
  border-bottom: none;
}
table tbody tr td {
  padding: 20px 17px;
}
::selection {
  background: #3683c5;
  color: #fff;
}
::-moz-selection {
  background: #3683c5;
  color: #fff;
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.loader .l {
  height: 100%;
  width: 50%;
  float: left;
  background: #fff;
  position: relative;
  z-index: 1;
  transition-delay: 3s;
  transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}
.loader .l.slide {
  transform: translateX(-100%);
}
.loader .l:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 0;
  background-color: #3683c6;
  bottom: 50%;
  right: 0;
  transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-delay: .1s;
  transform: rotate(180deg);
}
.loader .l.line:after {
  height: 100%;
}
.loader .r {
  height: 100%;
  width: 50%;
  float: right;
  background: #fff;
  position: relative;
  z-index: 1;
  transition-delay: 3s;
  transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}
.loader .r.slide {
  transform: translateX(100%);
}
.loader .r:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 0;
  background-color: #3683c6;
  top: 50%;
  left: -1px;
  transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-delay: .1s;
}
.loader .r.line:after {
  height: 100%;
}
.loader .c {
  position: absolute;
  width: 100px;
  display: inline-block;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  z-index: 999;
}
.loader .c img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.loader .c.rotate {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  -o-animation: spin 4s linear infinite;
  -ms-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
.loader .c.pinch {
  width: 1px;
  height: 100px;
}
.button-wrapper {
  position: relative;
  margin-top: 35px;
  height: 50px;
}
.btn-custom {
  display: inline-block;
  color: #494c53;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 9px 29px;
  border: 2px solid #ccc;
  background: transparent;
  margin: 0!important;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:focus:active {
  color: inherit;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.btn-custom.border-blue {
  border: 2px solid #3683c5;
  color: #3683c5;
}
.btn {
  display: inline-block;
  color: #494c53;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 9px 29px;
  border: 2px solid #ccc;
  background: transparent;
  overflow: hidden;
  position: absolute;
  left: 0;
  margin: 0!important;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:focus:active {
  color: inherit;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:hover:after {
  left: calc(0% - 10px);
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn:hover:before {
  left: calc(0% - 10px);
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn.border-blue {
  border: 2px solid #3683c5;
  color: #3683c5;
}
.btn.blue {
  background-color: #3683c5;
  color: #fff;
  border: none;
}
.btn.blue:before {
  background: #5bd49c;
  z-index: 5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn.green {
  background: #5bd49c;
  color: #fff;
  border: none;
}
.btn.green:before {
  background: #3683c5;
  z-index: 5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn:after {
  background: #fff;
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: 0;
  opacity: 0.8;
}
.btn:after,
.btn:before {
  padding: 18px 0 11px;
  content: '';
  position: absolute;
  top: 0;
  left: calc(-100% - 30px);
  height: 100%;
  width: calc(100% + 20px);
  color: #fff;
  border-radius: 2px;
  transform: skew(-25deg);
}
.btn span {
  display: block;
  position: relative;
  z-index: 10;
}
.flex {
  display: flex;
}
.flex.h-center {
  align-items: center;
}
.flex.v-center {
  justify-content: center;
}
.search {
  position: absolute;
  width: 175px;
  height: 25px;
  top: -3px;
  right: 20%;
  bottom: 0;
  overflow: hidden;
}
.search svg {
  width: 175px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}
.search .path {
  stroke-dasharray: 363, 961;
  stroke-dashoffset: 0;
  stroke: #3683c5;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.search input {
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 0;
  height: 100%;
  background: transparent;
  border: none;
  color: #1d1d1d;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 0 55px 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .2s;
  height: 35px;
}
.search input.open {
  cursor: auto;
  outline: none;
  background: #fff;
  width: 115%;
  margin-bottom: -5px;
}
.search input.open + svg .path {
  stroke-dasharray: 961, 363;
  stroke-dashoffset: -363;
}
.search input::-moz-selection {
  background: rgba(0, 0, 0, 0.3);
}
.search input::selection {
  background: rgba(0, 0, 0, 0.3);
}
.search input:valid + svg,
.search input .search .open + svg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.search .icon-top {
  position: absolute;
  right: -20px;
  top: -7px;
  font-size: 40px;
  transform: rotate(90deg);
  color: #3683c5;
  transition: all .4s;
  pointer-events: none;
}
.search .icon-top.slide {
  right: 6px;
}
fieldset {
  border: 2px solid #ccc;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
fieldset input {
  background-color: transparent;
  border: none;
  color: #ccc;
}
fieldset input:hover,
fieldset input:focus {
  outline: none;
}
fieldset button {
  border: none;
  background-color: transparent;
}
fieldset button:hover,
fieldset button:focus {
  outline: none;
}
fieldset button span {
  font-size: 25px;
  margin: 0;
}
.footer-search fieldset {
  width: 253px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding: 0 5px 0 11px;
}
.footer-search fieldset input {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  width: 84%;
}
.footer-search fieldset input:hover,
.footer-search fieldset input:focus {
  outline: none;
}
.footer-search fieldset button {
  border: none;
  background-color: transparent;
  float: right;
  padding-top: 4px;
  margin-bottom: -1px;
  margin-top: 0;
}
.footer-search fieldset button:hover,
.footer-search fieldset button:focus {
  outline: none;
}
.footer-search fieldset button span {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
.calendar {
  width: 285px;
  padding: 0 0 0 20px;
  margin-bottom: 45px;
}
.calendar input {
  width: 80%;
  color: #494c53;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.calendar input::-webkit-input-placeholder {
  color: #ccc;
}
.calendar input::-moz-placeholder {
  color: #ccc;
}
.calendar input:-moz-placeholder {
  color: #ccc;
}
.calendar input:-ms-input-placeholder {
  color: #ccc;
}
.calendar button {
  vertical-align: -7px;
}
.calendar button span {
  color: #ccc;
  font-size: 29px;
  display: inline-block;
  margin-top: 3px;
}
.plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: relative;
  width: 21px;
  display: inline-block;
}
.plus-minus-toggle:before,
.plus-minus-toggle:after {
  background: #000;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
/* main navigation */
nav {
  padding: 38px 0 27px;
}
nav .logo {
  display: inline-block;
  width: 132px;
  margin-top: 0;
  vertical-align: 7px;
}
nav .phone {
  display: inline-block;
  font-size: 14px;
  color: #1d1d1d;
  margin: 0 30px 7px -3px;
}
nav .phone span {
  opacity: 0.5;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  margin: 0 7px;
  text-align: center;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li.active a {
  color: #3683c5;
  text-shadow: -1px 0 0 #3683c5, -1px 0 0 #3683c5;
  text-decoration: none;
}
nav ul li a {
  color: #1d1d1d;
  padding: 5px;
  text-align: center;
  transition: all .2s;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #3683c5;
  text-shadow: -1px 0 0 #3683c5, -1px 0 0 #3683c5;
  text-decoration: none;
}
nav .col-xs-6 {
  width: 52%;
  padding: 0;
}
/* canvas section */
.interactive {
  background: url('../img/gradient.png') center;
  background-size: cover;
  width: 100%;
  height: calc(100% - 106px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  transition: all .4s;
}
.interactive.bgleft {
  background-position: left;
}
.interactive.bgright {
  background-position: right;
}
.interactive .canvas-title {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -223px;
  z-index: 0;
  color: #000;
  opacity: 0.65;
}
.interactive .logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27%;
  z-index: 0;
  opacity: 0.10;
  pointer-events: none;
}
.interactive .choice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  width: 37%;
  pointer-events: none;
}
.interactive canvas {
  position: relative;
  z-index: 1;
}
.interactive .controls p {
  color: #fff;
  font-size: 35px;
  position: absolute;
  font-weight: 900;
  padding: 30px;
  line-height: initial;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 2;
}
.interactive .controls .button-left {
  left: 0;
  top: calc(50% - 51px);
}
.interactive .controls .button-left.button-slide {
  left: -6%;
}
.interactive .controls .button-right {
  text-align: right;
  width: 25%;
  right: 0;
  top: calc(50% - 72px);
}
.interactive .controls .button-right.button-slide {
  right: -14%;
}
.interactive .panel-left {
  height: 100%;
  width: 92%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #00d59a;
  transform: translateX(-100%);
  transition: all 0.4s;
  z-index: 2;
}
.interactive .panel-left.slide {
  transform: translateX(0);
}
.interactive .panel-left.slide .panel-content {
  transform: translateX(0);
  opacity: 1;
}
.interactive .panel-left .panel-content {
  transform: translateX(-70px);
  transition: all 0.4s;
  opacity: 0;
  margin-right: 10px;
  background: #00d59a;
}
.interactive .panel-right {
  height: 100%;
  width: 92%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #00a0fa;
  transform: translateX(100%);
  transition: all 0.4s;
  z-index: 2;
}
.interactive .panel-right.slide {
  transform: translateX(0);
}
.interactive .panel-right.slide .panel-content {
  transform: translateX(0);
  opacity: 1;
}
.interactive .panel-right .panel-content {
  transform: translateX(-70px);
  transition: all 0.4s;
  opacity: 0;
  margin-left: 7%;
}
.interactive .panel-right .panel-content .block {
  margin: 8px 5px;
}
.interactive .panel-content {
  width: 80%;
}
.interactive .panel-content .column {
  display: inline-block;
  vertical-align: top;
}
.interactive .panel-content a {
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 12px 5px;
  position: relative;
  vertical-align: inherit;
}
.interactive .panel-content a:hover img {
  opacity: 1;
}
.interactive .panel-content a.first {
  float: left;
}
.interactive .panel-content a.first p {
  font-size: 30px;
  line-height: 41px;
}
.interactive .panel-content a img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .2s;
  pointer-events: none;
}
.interactive .panel-content a p {
  position: absolute;
  left: 10%;
  top: 50%;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
/* features section */
.feat {
  padding: 62px 0;
}
.feat .col-xs-2 {
  padding: 0;
}
.feat h2 {
  margin-bottom: 74px;
}
.feat .feat-item {
  margin-right: -30px;
}
.feat .feat-item:first-child {
  margin-bottom: 39px;
}
.feat .feat-item span {
  color: #5bd49c;
  display: inline-block;
  float: left;
  font-size: 38px;
  margin-right: 10px;
  width: 50px;
  text-align: center;
}
.feat .feat-item p {
  color: #36464e;
  font-size: 16px;
  display: inline-block;
  line-height: 19px;
}
/* reviews section */
.reviews {
  padding: 222px 0;
  margin-top: -70px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.reviews .img-wrapper {
  background: rgba(54, 131, 197, 0.72);
  padding: 82px 0;
}
.reviews .img-wrapper > img {
  position: absolute;
  top: -20%;
  mix-blend-mode: multiply;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
}
.reviews .swiper-container .swiper-wrapper .swiper-slide {
  width: 660px;
  background-color: #fff;
  padding: 37px 43px;
  margin: 0 15px;
}
.reviews .swiper-container .swiper-wrapper .swiper-slide .blue {
  color: #3683c5;
  font-size: 16px;
}
.reviews .swiper-container .swiper-wrapper .swiper-slide div {
  display: inline-block;
}
.reviews .swiper-container .swiper-wrapper .swiper-slide img {
  float: right;
  margin-right: 6%;
  margin-top: 2%;
  pointer-events: none;
  max-width: 220px;
}
.reviews .swiper-container .swiper-wrapper .swiper-slide .desc {
  font-size: 16px;
  margin-top: 49px;
  line-height: 19px;
}
/* slides blocks */
.slide-block > div {
  -webkit-perspective: 475px;
  perspective: 475px;
  width: 238px;
  height: 238px;
  display: inline-block;
  margin: 3px;
}
.slide-block > div .info {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 3;
}
.slide-block > div .info .more {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  border: 2px solid #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  padding: 4px 14px;
  margin-top: -16px;
  margin-left: -63px;
  transition: all .4s;
}
.slide-block > div .info.bg {
  background: #3683c5;
  opacity: 0.7;
}
/* news section */
.news {
  padding: 46px 0 100px;
}
.news h2 {
  margin-bottom: 61px;
}
.news .news-item {
  display: block;
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: 2;
  width: inherit;
  height: inherit;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.news .news-item:hover .date,
.news .news-item:hover .link {
  opacity: 0;
}
.news .news-item:hover .more {
  opacity: 1;
  transform: translateY(0);
}
.news .news-item.border {
  border: 2px solid #3683c5;
}
.news .news-item.border:after {
  background-color: transparent;
}
.news .news-item.border .more {
  color: #3683c5;
  border: 2px solid #3683c5;
}
.news .news-item.gray {
  background: rgba(73, 76, 83, 0.1);
}
.news .news-item.col-xs-12 .date {
  left: 6%;
  top: 13%;
}
.news .news-item.col-xs-12 a:not(.more) {
  bottom: 15%;
  left: 6%;
}
.news .news-item.col-xs-6 .date {
  left: 13%;
  top: 13%;
}
.news .news-item.col-xs-6 a:not(.more) {
  bottom: 11%;
  left: 13%;
}
.news .news-item .date {
  position: absolute;
  left: 7%;
  top: 11%;
  color: #3683c5;
  transition: all .4s;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  pointer-events: none;
}
.news .news-item .date .date-bold {
  font-size: 35px;
  font-weight: 900;
  display: inline-block;
  margin-right: 6px;
}
.news .news-item .date span {
  display: inline-block;
}
.news .news-item .link {
  font-weight: 900;
  font-size: 16px;
  position: absolute;
  bottom: 9%;
  left: 7%;
  color: #3683c5;
  text-decoration: underline;
  z-index: 2;
  transition: all .4s;
  pointer-events: none;
}
.news .col-xs-6 {
  width: 47%;
}
/* footer section */
.footer {
  padding: 54px 0 0;
  background-color: #494c53;
  position: relative;
  z-index: 2;
}
.footer img {
  width: 112px;
  margin-bottom: 26px;
  pointer-events: none;
  margin-top: 10px;
}
.footer ul {
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 16px;
}
.footer ul li {
  margin: 14px 0;
}
.footer ul li a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 12px;
}
.footer ul.address {
  margin-top: 23px;
  line-height: initial;
}
.footer ul.address li {
  margin: -1px 0;
}
.footer ul.address li a {
  font-size: 14px;
}
.footer span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  display: inline-block;
  margin-top: 4px;
}
.footer .row {
  padding-bottom: 36px;
}
.dev {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 25px 0;
  background-color: #494c53;
}
.dev p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 17px;
  margin-right: 40%;
  margin-top: -6px;
  margin-top: 1px;
  margin-bottom: 0;
}
.dev p.copyright {
  margin-left: 15px;
  margin-top: 8px;
}
.dev .col-xs-1 {
  padding: 0;
}
.dev .col-xs-1 p {
  white-space: nowrap;
}
.dev a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.dev a:hover,
.dev a:focus {
  color: #ffffff;
  text-decoration: none;
}
.dev .col-xs-3 {
  text-align: right;
}
/* section banner */
.banner {
  position: relative;
  overflow: hidden;
  height: 328px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
  z-index: -1;
}
.banner h1 {
  position: absolute;
  bottom: 16px;
  margin-left: 7.5%;
}
.banner h1.news-title {
  margin-left: 8.3%;
}
.banner .side-right:after {
  height: 130%;
}
/* left side block */
.side-left span.date {
  font-size: 12px;
  color: #999999;
}
.side-left .item {
  margin-bottom: 34px;
}
.side-left .item span {
  font-size: 52px;
  color: rgba(73, 76, 83, 0.5);
  display: block;
  margin-bottom: 10px;
}
.side-left .item a {
  font-size: 12px;
  color: #3683c5;
  text-decoration: underline;
  display: inline-block;
  line-height: 14px;
  white-space: nowrap;
}
/* right side block */
.side-right {
  position: relative;
  z-index: 1;
}
.side-right:after {
  content: '';
  display: block;
  width: 1px;
  height: 113%;
  position: absolute;
  top: -64px;
  left: 83px;
  background-color: #cccccc;
  z-index: -1;
}
.side-right.small .fixed a.small {
  margin-left: 27.5%;
}
.side-right.small .fixed a.big {
  margin-left: 21%;
}
.side-right.xsmall .fixed a.small {
  margin-left: 65%;
}
.side-right.xsmall .fixed a.big {
  margin-left: 50%;
}
.side-right #scroll-top {
  opacity: 0;
  transition: all .4s;
}
.side-right #scroll-top.visible {
  opacity: 1;
}
.side-right .side-content {
  position: absolute;
  top: 0;
  right: 33px;
  width: 52%;
}
.side-right .side-content .spoiler-item {
  margin-bottom: 20px;
}
.side-right .side-content .spoiler-toggle {
  cursor: pointer;
}
.side-right .side-content .spoiler-toggle p {
  font-weight: 900;
  margin: 0;
}
.side-right .side-content .spoiler-body.collapsed {
  display: none;
}
.side-right .side-content .spoiler-body ul {
  margin-left: 13px;
  padding: 0;
  list-style-type: none;
}
.side-right .side-content .spoiler-body ul li {
  padding: 5px 0;
}
.side-right .side-content .spoiler-body ul li.active {
  font-weight: 900;
}
.side-right .side-content .spoiler-body ul li.active a {
  color: #3683c5;
  text-decoration: none;
}
.side-right .side-content .spoiler-body ul li a {
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}
.side-right .fixed a {
  display: block;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #fff;
  position: relative;
  margin-top: 7px;
}
.side-right .fixed a:first-child {
  margin-top: -43px;
}
.side-right .fixed a.big {
  width: 65px;
  height: 65px;
  margin-left: 13%;
}
.side-right .fixed a.big span {
  font-size: 30px;
  color: #009ff7;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: 50%;
  margin-top: -15px;
}
.side-right .fixed a.small {
  width: 43px;
  height: 43px;
  margin-left: 17%;
}
.side-right .fixed a.small span {
  font-size: 30px;
  color: #cccccc;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -16px;
}
.side-right .fixed a:hover,
.side-right .fixed a:focus {
  text-decoration: none;
}
/* content section */
.content {
  padding: 64px 0 0;
  overflow: hidden;
}
.content p {
  margin: 0 0 20px;
}
.content p img {
  width: 100%;
}
.content h3 {
  margin-bottom: 21px;
  margin-top: 63px;
}
.content img {
  pointer-events: none;
}
.content ul.gray {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content ul.gray li {
  color: rgba(73, 76, 83, 0.5);
  font-size: 12px;
  line-height: 16px;
}
.content .news {
  padding-top: 0;
  padding-bottom: 70px;
  position: static;
}
.content .news > div {
  margin: 7px 7px;
}
.content .news .news-item {
  display: inline-block;
  height: 238px;
  width: 238px;
  float: left;
}
.content .news .news-item.border .date p {
  color: #3683c5;
}
.content .news .news-item .date p {
  color: #494c53;
}
.content .news .news-item a:not(.more) {
  font-size: 16px;
  max-width: 90%;
  pointer-events: none;
}
.content .wrapper-icon {
  display: flex;
}
.content .wrapper-icon div {
  display: inline-block;
}
.content .wrapper-icon div:first-child {
  width: 20%;
}
.content .wrapper-icon div:first-child span {
  color: #5bd49c;
  font-size: 40px;
  display: inline-block;
  margin-top: -10px;
}
.content .wrapper-icon div:last-child {
  float: right;
  width: 80%;
}
.content .features .item span {
  color: #0089d1;
  font-size: 40px;
  display: inline-block;
  margin-right: 7px;
}
.content .features .item p {
  display: inline-block;
  vertical-align: 3px;
}
.content .packaging span {
  color: #5bd49c;
  font-size: 61px;
  display: block;
  margin-bottom: 7px;
}
.content .use [class^="icon-"],
.content .use [class*=" icon-"] {
  font-size: 47px;
  color: #5bd49c;
  display: inline-block;
  float: left;
  margin-right: 18px;
}
.content .use p {
  display: inline-block;
  width: 67%;
}
/* spoilers */
.spoilers {
  padding: 0;
}
.spoilers .spoiler-item {
  margin-bottom: 74px;
}
.spoilers .spoiler-item .spoiler-toggle {
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}
.spoilers .spoiler-item .spoiler-toggle.collapsed + .spoiler-body {
  display: none;
}
.spoilers .spoiler-item .spoiler-toggle.collapsed .plus-minus-toggle:after {
  transform: rotate(90deg);
}
.spoilers .spoiler-item .spoiler-toggle.collapsed .plus-minus-toggle:before {
  transform: rotate(180deg);
}
.spoilers .spoiler-item .spoiler-toggle .plus-minus-toggle {
  vertical-align: -11px;
  margin-right: 10px;
}
.spoilers .spoiler-item .spoiler-body .column {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px;
}
.spoilers .spoiler-item .spoiler-body .column:first-child {
  margin-left: 0;
}
.spoilers .spoiler-item .spoiler-body .column:last-child {
  margin-right: 0;
}
.spoilers .spoiler-item .spoiler-body .column .row {
  margin: 17px 0;
  padding: 0;
}
.spoilers .spoiler-item .spoiler-body .column .row:first-child {
  margin-top: 0;
}
.spoilers .spoiler-item .spoiler-body .column .row:last-child {
  margin-bottom: 0;
}
.spoilers .spoiler-item .spoiler-body .block {
  display: inline-block;
  color: inherit;
  background: rgba(73, 76, 83, 0.1);
  vertical-align: top;
  display: flex;
  align-items: center;
}
.spoilers .spoiler-item .spoiler-body .block:hover,
.spoilers .spoiler-item .spoiler-body .block:focus {
  text-decoration: none;
}
.spoilers .spoiler-item .spoiler-body .block p {
  font-size: 20px;
  margin: 0 0 0 14px;
  padding: 0;
  text-transform: uppercase;
}
/* history slider */
.history {
  position: relative;
  text-align: center;
  padding: 40px 0;
  height: 470px;
}
.history .history-item {
  position: absolute;
  top: 45px;
  width: 99%;
}
.history .history-item.slide--current.normal .year {
  left: 1%;
  top: 50%;
  opacity: 1;
}
.history .history-item.slide--current.normal p {
  right: 3%;
  opacity: 1;
}
.history .history-item.slide--current.normal img {
  transform: translateY(0px);
  opacity: 1;
  z-index: -1;
  transition: all .8s;
}
.history .history-item.slide--current.reverse .year {
  left: 58%;
  top: 50%;
  opacity: 1;
}
.history .history-item.slide--current.reverse p {
  right: 66%;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  z-index: 3;
}
.history .history-item.slide--current.reverse img {
  transform: translateY(0px);
  opacity: 1;
  z-index: -1;
}
.history .year {
  color: #3683c5;
  font-size: 145px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 28%;
  margin-top: -74px;
  transition: all .4s;
  opacity: 0;
}
.history img {
  display: inline-block;
  margin: 55px 0 55px -120px;
  position: relative;
  z-index: -2;
  transition: opacity .8s, transform .8s;
  pointer-events: none;
  transform: translateY(100px);
  opacity: 0;
}
.history p {
  position: absolute;
  top: 54%;
  max-width: 380px;
  text-align: left;
  margin-top: -93px;
  opacity: 1;
  transition: all .4s;
  right: 37%;
  z-index: -100;
  opacity: 0;
}
.js .slide:not(.slide--current) {
  position: absolute;
  top: 45px;
  pointer-events: none;
  width: 99%;
}
/* history navigation */
.history-nav {
  position: relative;
  width: 8em;
  margin: -3em 0 0 -10em;
  z-index: 999;
}
.history-nav:after {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  z-index: -1;
}
.history-nav .nav__item {
  line-height: 1;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: currentColor;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 2em;
  height: 45px;
}
.history-nav .nav__item:focus {
  outline: none;
}
.history-nav .nav__item:after {
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin: -5px 0 0 0;
  border-radius: 50%;
  background: #ccc;
  -webkit-transition: -webkit-transform 0.3s, border-color 0.3s, border-width 0.3s, background 0.3s;
  transition: transform 0.3s, border-color 0.3s, border-width 0.3s, background 0.3s;
}
.history-nav .nav__item:before,
.history-nav .nav__item:after {
  content: '';
  position: absolute;
}
.history-nav .nav__item:not(:last-child)::before {
  top: calc(-7em);
  left: 5px;
  width: 2px;
  height: calc(-10em);
  background: #98322a;
}
.history-nav .nav__item:not(.nav__item--current):hover::after {
  background: #3683c5;
  -webkit-transform: scale3d(1.15, 1.15, 1);
  transform: scale3d(1.15, 1.15, 1);
}
.history-nav .nav__item:not(.nav__item--current):hover .nav__item-title {
  opacity: 1;
  color: #3683c5;
}
.history-nav .nav__item--current .nav__item-title {
  opacity: 1;
  color: #3683c5;
  font-weight: 900;
}
.history-nav .nav__item--current:after {
  border: 1px solid #3683c5;
  -webkit-transform: scale3d(1.6, 1.6, 1);
  transform: scale3d(1.6, 1.6, 1);
  background: #fff;
}
.history-nav .nav__item-title {
  line-height: 1.5;
  display: block;
  position: relative;
  padding: 2px 0 0 25px;
  white-space: nowrap;
  opacity: 1;
  color: #ccc;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/* imports */
@media (min-width: 1681px) {
  .news.col-xs-12 {
    width: 91.66666667%;
  }
  .interactive .controls .button-right.button-slide {
    right: -8%;
  }
  .interactive .controls .button-left.button-slide {
    left: -3%;
  }
  .banner h1 {
    margin-left: 5.4%;
  }
  .side-right .fixed a.big {
    margin-left: 11%;
  }
  .side-right .fixed a.small {
    margin-left: 15%;
  }
  .side-right.small .fixed a.big {
    margin-left: 18%;
  }
  .side-right.small .fixed a.small {
    margin-left: 24%;
  }
  .banner h1.news-title {
    margin-left: 6.1%;
  }
  .button-right {
    right: 2%;
  }
  .button-left {
    left: 2%;
  }
  .interactive .controls .button-right {
    width: 17%;
  }
}
@media (max-width: 1680px) and (min-width: 1367px) {
  .reviews .img-wrapper > img {
    left: -8%;
  }
  .interactive .controls .button-right.button-slide {
    right: -10%;
  }
  .interactive .controls .button-left.button-slide {
    left: -4%;
  }
  .side-right .fixed a.big {
    margin-left: 11%;
  }
  .side-right .fixed a.small {
    margin-left: 15%;
  }
  .side-right.small .fixed a.big {
    margin-left: 17%;
  }
  .side-right.small .fixed a.small {
    margin-left: 23%;
  }
  .banner h1.news-title {
    margin-left: 7.1%;
  }
  .interactive .controls .button-right {
    width: 18%;
  }
  .banner h1 {
    margin-left: 6%;
  }
}
@media (max-width: 1366px) and (min-width: 1281px) {
  .reviews .img-wrapper > img {
    left: -20%;
  }
  .interactive .controls .button-right.button-slide {
    right: -14%;
  }
  .interactive .controls .button-left.button-slide {
    left: -6%;
  }
  .side-right .fixed a.big {
    margin-left: 12%;
  }
  .side-right .fixed a.small {
    margin-left: 16%;
  }
  .side-right.small .fixed a.big {
    margin-left: 18%;
  }
  .side-right.small .fixed a.small {
    margin-left: 24%;
  }
}
@media (max-width: 1280px) {
  .reviews .img-wrapper > img {
    left: -25%;
  }
  .border-r:after {
    right: 127px;
  }
  .border-l:before {
    left: 25px;
  }
  .history-nav {
    margin: -3em 0 0 -96px;
  }
  .history-item.normal p {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    z-index: 3;
  }
}
@media (max-width: 1200px) {
  .border-r:after {
    right: 123px;
  }
  .border-r .news {
    width: 75%;
    margin-left: 8% !important;
  }
  .history .history-item.slide--current.normal .year {
    top: 57%;
  }
  .history .history-item.slide--current.reverse .year {
    top: 57%;
  }
  .history .year {
    font-size: 93px;
    top: 57%;
  }
  .history img {
    width: 39%;
  }
  .history-nav {
    margin: -3em 0 0 -77px;
  }
  nav .col-xs-2,
  .news .col-xs-offset-1,
  .footer .col-xs-offset-1,
  .dev .col-xs-offset-1,
  .banner h1,
  .side-left,
  .content .col-xs-8,
  .content .calendar,
  .content .news.col-xs-9 {
    margin-left: 1%;
  }
  nav .col-xs-6 {
    width: 66.66666667%;
    padding: 0;
  }
  nav .col-xs-2:last-child {
    padding: 0;
  }
  nav .col-xs-2:last-child .search {
    right: 10%;
  }
  .interactive .panel-content {
    width: 97%;
  }
  .interactive .panel-left.slide + .controls .button-left {
    opacity: 0;
  }
  .interactive .controls .button-right.button-slide {
    right: -19%;
  }
  .interactive .controls .button-left.button-slide {
    left: -9%;
  }
  .feat {
    overflow: hidden;
  }
  .feat .col-xs-2 {
    width: 25%;
    margin-left: 8.33333333%;
  }
  .feat .col-xs-offset-2 {
    margin-left: 6%;
  }
  .reviews .img-wrapper > img {
    left: -43%;
  }
  .news .col-xs-5 {
    width: 47.666667%;
  }
  .footer .col-xs-3 {
    width: 31%;
  }
  .dev p {
    margin-right: 0;
  }
  .side-right {
    width: 30%;
  }
  .side-right .side-content {
    right: 20px;
  }
  .banner .col-xs-6.small {
    width: 62%;
  }
  .content .spoilers {
    width: 78%;
  }
  .content .mobile-coals {
    width: 17%;
  }
  .side-right.small {
    width: 20%;
  }
  .side-right.small .fixed a.small {
    margin-left: 28%;
  }
  .side-right.small .fixed a.big {
    margin-left: 21%;
  }
  .side-right.xsmall {
    width: 15%;
  }
  .side-right.xsmall .fixed a.small {
    margin-left: 37%;
  }
  .side-right.xsmall .fixed a.big {
    margin-left: 29%;
  }
  .side-left {
    padding: 0;
  }
  .content .col-xs-8 .col-xs-3 {
    padding: 0;
  }
  .content .news {
    margin: 0;
  }
  .content .news.col-xs-9 {
    width: 79%;
  }
  .single > div:last-child {
    display: none !important;
  }
  .interactive .controls .button-right {
    width: 25%;
  }
  .interactive .controls p {
    font-size: 25px;
  }
  .side-right.mobile-coals-right {
    width: 20%;
  }
  .side-right.mobile-coals-right .fixed a.small {
    margin-left: 28%;
  }
  .side-right.mobile-coals-right .fixed a.big {
    margin-left: 21%;
  }
}
