@media (min-width: 1681px) {
  .news.col-xs-12 {
    width: 91.66666667%;
  }
  .interactive .controls .button-right.button-slide {
    right: -8%;
  }
  .interactive .controls .button-left.button-slide {
    left: -3%;
  }
  .banner h1 {
    margin-left: 5.4%;
  }
  .side-right .fixed a.big {
    margin-left: 11%;
  }
  .side-right .fixed a.small {
    margin-left: 15%;
  }
  .side-right.small .fixed a.big {
    margin-left: 18%;
  }
  .side-right.small .fixed a.small {
    margin-left: 24%;
  }
  .banner h1.news-title {
    margin-left: 6.1%;
  }
  .button-right {
    right: 2%;
  }
  .button-left {
    left: 2%;
  }
  .interactive .controls .button-right {
    width: 17%;
  }
}
@media (max-width: 1680px) and (min-width: 1367px) {
  .reviews .img-wrapper > img {
    left: -8%;
  }
  .interactive .controls .button-right.button-slide {
    right: -10%;
  }
  .interactive .controls .button-left.button-slide {
    left: -4%;
  }
  .side-right .fixed a.big {
    margin-left: 11%;
  }
  .side-right .fixed a.small {
    margin-left: 15%;
  }
  .side-right.small .fixed a.big {
    margin-left: 17%;
  }
  .side-right.small .fixed a.small {
    margin-left: 23%;
  }
  .banner h1.news-title {
    margin-left: 7.1%;
  }
  .interactive .controls .button-right {
    width: 18%;
  }
  .banner h1 {
    margin-left: 6%;
  }
}
@media (max-width: 1366px) and (min-width: 1281px) {
  .reviews .img-wrapper > img {
    left: -20%;
  }
  .interactive .controls .button-right.button-slide {
    right: -14%;
  }
  .interactive .controls .button-left.button-slide {
    left: -6%;
  }
  .side-right .fixed a.big {
    margin-left: 12%;
  }
  .side-right .fixed a.small {
    margin-left: 16%;
  }
  .side-right.small .fixed a.big {
    margin-left: 18%;
  }
  .side-right.small .fixed a.small {
    margin-left: 24%;
  }
}
@media (max-width: 1280px) {
  .reviews .img-wrapper > img {
    left: -25%;
  }
  .border-r:after {
    right: 127px;
  }
  .border-l:before {
    left: 25px;
  }
  .history-nav {
    margin: -3em 0 0 -96px;
  }
  .history-item.normal p {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    z-index: 3;
  }
}
@media (max-width: 1200px) {
  .border-r:after {
    right: 123px;
  }
  .border-r .news {
    width: 75%;
    margin-left: 8% !important;
  }
  .history .history-item.slide--current.normal .year {
    top: 57%;
  }
  .history .history-item.slide--current.reverse .year {
    top: 57%;
  }
  .history .year {
    font-size: 93px;
    top: 57%;
  }
  .history img {
    width: 39%;
  }
  .history-nav {
    margin: -3em 0 0 -77px;
  }
  nav .col-xs-2,
  .news .col-xs-offset-1,
  .footer .col-xs-offset-1,
  .dev .col-xs-offset-1,
  .banner h1,
  .side-left,
  .content .col-xs-8,
  .content .calendar,
  .content .news.col-xs-9 {
    margin-left: 1%;
  }
  nav .col-xs-6 {
    width: 66.66666667%;
    padding: 0;
  }
  nav .col-xs-2:last-child {
    padding: 0;
  }
  nav .col-xs-2:last-child .search {
    right: 10%;
  }
  .interactive .panel-content {
    width: 97%;
  }
  .interactive .panel-left.slide + .controls .button-left {
    opacity: 0;
  }
  .interactive .controls .button-right.button-slide {
    right: -19%;
  }
  .interactive .controls .button-left.button-slide {
    left: -9%;
  }
  .feat {
    overflow: hidden;
  }
  .feat .col-xs-2 {
    width: 25%;
    margin-left: 8.33333333%;
  }
  .feat .col-xs-offset-2 {
    margin-left: 6%;
  }
  .reviews .img-wrapper > img {
    left: -43%;
  }
  .news .col-xs-5 {
    width: 47.666667%;
  }
  .footer .col-xs-3 {
    width: 31%;
  }
  .dev p {
    margin-right: 0;
  }
  .side-right {
    width: 30%;
  }
  .side-right .side-content {
    right: 20px;
  }
  .banner .col-xs-6.small {
    width: 62%;
  }
  .content .spoilers {
    width: 78%;
  }
  .content .mobile-coals {
    width: 17%;
  }
  .side-right.small {
    width: 20%;
  }
  .side-right.small .fixed a.small {
    margin-left: 28%;
  }
  .side-right.small .fixed a.big {
    margin-left: 21%;
  }
  .side-right.xsmall {
    width: 15%;
  }
  .side-right.xsmall .fixed a.small {
    margin-left: 37%;
  }
  .side-right.xsmall .fixed a.big {
    margin-left: 29%;
  }
  .side-left {
    padding: 0;
  }
  .content .col-xs-8 .col-xs-3 {
    padding: 0;
  }
  .content .news {
    margin: 0;
  }
  .content .news.col-xs-9 {
    width: 79%;
  }
  .single > div:last-child {
    display: none !important;
  }
  .interactive .controls .button-right {
    width: 25%;
  }
  .interactive .controls p {
    font-size: 25px;
  }
  .side-right.mobile-coals-right {
    width: 20%;
  }
  .side-right.mobile-coals-right .fixed a.small {
    margin-left: 28%;
  }
  .side-right.mobile-coals-right .fixed a.big {
    margin-left: 21%;
  }
}
